/* Section styling */
.partners-section {
  text-align: center;
  padding: 40px 0;
  min-height: 20px;
}

.partners-title {
  font-size: 24px;
  margin-bottom: 30px;
}

/* Grid for partners */
.partners-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

/* Partner logo styling */
.partner-logo img {
  border-radius: 20px;
  max-width: 100%;
  height: 75%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

/* Partner logo hover effect */
.partner-logo img:hover {
  transform: scale(1.05); /* Slightly enlarge the image on hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* Add a shadow for depth */
}

/* View All button container */
.view-all-container {
  color: whitesmoke;
  border: none;
  padding: none;
  border-radius: 5px;
  cursor: pointer;
}

/* View All button styling */
.view-all-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4646ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  border-radius: 5px;
}

/* View All button hover effect */
.view-all-button:hover {
  background-color: #3333cc; /* Darker shade on hover */
  transform: translateY(-3px);
  /* Slight upward movement on hover */
}
